<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyoung.hospital.dao.module.mapper.AlterationInfoVoMapper">
  <resultMap id="BaseResultMap" type="com.xyoung.hospital.dao.module.vo.AlterationInfoVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="MethodCode" jdbcType="VARCHAR" property="methodCode" />
    <result column="UniqueCode" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="RawData" jdbcType="VARCHAR" property="rawData" />
    <result column="UpdateDate" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="OprsUserCode" jdbcType="VARCHAR" property="oprsUserCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, MethodCode, UniqueCode, RawData, UpdateDate, CreateTime, OprsUserCode
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from alteration_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from alteration_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xyoung.hospital.dao.module.vo.AlterationInfoVo">
    insert into alteration_info (id, MethodCode, UniqueCode, 
      RawData, UpdateDate, CreateTime, 
      OprsUserCode)
    values (#{id,jdbcType=INTEGER}, #{methodCode,jdbcType=VARCHAR}, #{uniqueCode,jdbcType=VARCHAR}, 
      #{rawData,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{oprsUserCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xyoung.hospital.dao.module.vo.AlterationInfoVo">
    insert into alteration_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="methodCode != null">
        MethodCode,
      </if>
      <if test="uniqueCode != null">
        UniqueCode,
      </if>
      <if test="rawData != null">
        RawData,
      </if>
      <if test="updateDate != null">
        UpdateDate,
      </if>
      <if test="createTime != null">
        CreateTime,
      </if>
      <if test="oprsUserCode != null">
        OprsUserCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="methodCode != null">
        #{methodCode,jdbcType=VARCHAR},
      </if>
      <if test="uniqueCode != null">
        #{uniqueCode,jdbcType=VARCHAR},
      </if>
      <if test="rawData != null">
        #{rawData,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oprsUserCode != null">
        #{oprsUserCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xyoung.hospital.dao.module.vo.AlterationInfoVo">
    update alteration_info
    <set>
      <if test="methodCode != null">
        MethodCode = #{methodCode,jdbcType=VARCHAR},
      </if>
      <if test="uniqueCode != null">
        UniqueCode = #{uniqueCode,jdbcType=VARCHAR},
      </if>
      <if test="rawData != null">
        RawData = #{rawData,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        UpdateDate = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oprsUserCode != null">
        OprsUserCode = #{oprsUserCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xyoung.hospital.dao.module.vo.AlterationInfoVo">
    update alteration_info
    set MethodCode = #{methodCode,jdbcType=VARCHAR},
      UniqueCode = #{uniqueCode,jdbcType=VARCHAR},
      RawData = #{rawData,jdbcType=VARCHAR},
      UpdateDate = #{updateDate,jdbcType=TIMESTAMP},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      OprsUserCode = #{oprsUserCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
