<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyoung.hospital.dao.module.mapper.UserInfoVoMapper">
  <resultMap id="BaseResultMap" type="com.xyoung.hospital.dao.module.vo.UserInfoVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="UserCode" jdbcType="VARCHAR" property="userCode" />
    <result column="UserName" jdbcType="VARCHAR" property="userName" />
    <result column="UserNickName" jdbcType="VARCHAR" property="userNickName" />
    <result column="UserSex" jdbcType="VARCHAR" property="userSex" />
    <result column="CardType" jdbcType="VARCHAR" property="cardType" />
    <result column="UserIdCard" jdbcType="VARCHAR" property="userIdCard" />
    <result column="UserRole" jdbcType="VARCHAR" property="userRole" />
    <result column="UpUserCode" jdbcType="VARCHAR" property="upUserCode" />
    <result column="BranchCode" jdbcType="VARCHAR" property="branchCode" />
    <result column="Telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="Address" jdbcType="VARCHAR" property="address" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ModifyTime" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, UserCode, UserName, UserNickName, UserSex, CardType, UserIdCard, UserRole, UpUserCode, 
    BranchCode, Telephone, Address, Status, CreateTime, ModifyTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xyoung.hospital.dao.module.vo.UserInfoVo">
    insert into user_info (id, UserCode, UserName, 
      UserNickName, UserSex, CardType, 
      UserIdCard, UserRole, UpUserCode, 
      BranchCode, Telephone, Address, 
      Status, CreateTime, ModifyTime
      )
    values (#{id,jdbcType=INTEGER}, #{userCode,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userNickName,jdbcType=VARCHAR}, #{userSex,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR}, 
      #{userIdCard,jdbcType=VARCHAR}, #{userRole,jdbcType=VARCHAR}, #{upUserCode,jdbcType=VARCHAR}, 
      #{branchCode,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xyoung.hospital.dao.module.vo.UserInfoVo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userCode != null">
        UserCode,
      </if>
      <if test="userName != null">
        UserName,
      </if>
      <if test="userNickName != null">
        UserNickName,
      </if>
      <if test="userSex != null">
        UserSex,
      </if>
      <if test="cardType != null">
        CardType,
      </if>
      <if test="userIdCard != null">
        UserIdCard,
      </if>
      <if test="userRole != null">
        UserRole,
      </if>
      <if test="upUserCode != null">
        UpUserCode,
      </if>
      <if test="branchCode != null">
        BranchCode,
      </if>
      <if test="telephone != null">
        Telephone,
      </if>
      <if test="address != null">
        Address,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="createTime != null">
        CreateTime,
      </if>
      <if test="modifyTime != null">
        ModifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNickName != null">
        #{userNickName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="userIdCard != null">
        #{userIdCard,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null">
        #{userRole,jdbcType=VARCHAR},
      </if>
      <if test="upUserCode != null">
        #{upUserCode,jdbcType=VARCHAR},
      </if>
      <if test="branchCode != null">
        #{branchCode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xyoung.hospital.dao.module.vo.UserInfoVo">
    update user_info
    <set>
      <if test="userCode != null">
        UserCode = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        UserName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNickName != null">
        UserNickName = #{userNickName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        UserSex = #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        CardType = #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="userIdCard != null">
        UserIdCard = #{userIdCard,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null">
        UserRole = #{userRole,jdbcType=VARCHAR},
      </if>
      <if test="upUserCode != null">
        UpUserCode = #{upUserCode,jdbcType=VARCHAR},
      </if>
      <if test="branchCode != null">
        BranchCode = #{branchCode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        Telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        Address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        ModifyTime = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xyoung.hospital.dao.module.vo.UserInfoVo">
    update user_info
    set UserCode = #{userCode,jdbcType=VARCHAR},
      UserName = #{userName,jdbcType=VARCHAR},
      UserNickName = #{userNickName,jdbcType=VARCHAR},
      UserSex = #{userSex,jdbcType=VARCHAR},
      CardType = #{cardType,jdbcType=VARCHAR},
      UserIdCard = #{userIdCard,jdbcType=VARCHAR},
      UserRole = #{userRole,jdbcType=VARCHAR},
      UpUserCode = #{upUserCode,jdbcType=VARCHAR},
      BranchCode = #{branchCode,jdbcType=VARCHAR},
      Telephone = #{telephone,jdbcType=VARCHAR},
      Address = #{address,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      ModifyTime = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.xyoung.hospital.dao.module.vo.UserInfoVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="UserCode" jdbcType="VARCHAR" property="userCode" />
    <result column="UserName" jdbcType="VARCHAR" property="userName" />
    <result column="UserNickName" jdbcType="VARCHAR" property="userNickName" />
    <result column="UserSex" jdbcType="VARCHAR" property="userSex" />
    <result column="CardType" jdbcType="VARCHAR" property="cardType" />
    <result column="UserIdCard" jdbcType="VARCHAR" property="userIdCard" />
    <result column="UserRole" jdbcType="VARCHAR" property="userRole" />
    <result column="UpUserCode" jdbcType="VARCHAR" property="upUserCode" />
    <result column="BranchCode" jdbcType="VARCHAR" property="branchCode" />
    <result column="Telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="Address" jdbcType="VARCHAR" property="address" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ModifyTime" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, UserCode, UserName, UserNickName, UserSex, CardType, UserIdCard, UserRole, UpUserCode, 
    BranchCode, Telephone, Address, Status, CreateTime, ModifyTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xyoung.hospital.dao.module.vo.UserInfoVo">
    insert into user_info (id, UserCode, UserName, 
      UserNickName, UserSex, CardType, 
      UserIdCard, UserRole, UpUserCode, 
      BranchCode, Telephone, Address, 
      Status, CreateTime, ModifyTime
      )
    values (#{id,jdbcType=INTEGER}, #{userCode,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userNickName,jdbcType=VARCHAR}, #{userSex,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR}, 
      #{userIdCard,jdbcType=VARCHAR}, #{userRole,jdbcType=VARCHAR}, #{upUserCode,jdbcType=VARCHAR}, 
      #{branchCode,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xyoung.hospital.dao.module.vo.UserInfoVo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userCode != null">
        UserCode,
      </if>
      <if test="userName != null">
        UserName,
      </if>
      <if test="userNickName != null">
        UserNickName,
      </if>
      <if test="userSex != null">
        UserSex,
      </if>
      <if test="cardType != null">
        CardType,
      </if>
      <if test="userIdCard != null">
        UserIdCard,
      </if>
      <if test="userRole != null">
        UserRole,
      </if>
      <if test="upUserCode != null">
        UpUserCode,
      </if>
      <if test="branchCode != null">
        BranchCode,
      </if>
      <if test="telephone != null">
        Telephone,
      </if>
      <if test="address != null">
        Address,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="createTime != null">
        CreateTime,
      </if>
      <if test="modifyTime != null">
        ModifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNickName != null">
        #{userNickName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="userIdCard != null">
        #{userIdCard,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null">
        #{userRole,jdbcType=VARCHAR},
      </if>
      <if test="upUserCode != null">
        #{upUserCode,jdbcType=VARCHAR},
      </if>
      <if test="branchCode != null">
        #{branchCode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xyoung.hospital.dao.module.vo.UserInfoVo">
    update user_info
    <set>
      <if test="userCode != null">
        UserCode = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        UserName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNickName != null">
        UserNickName = #{userNickName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        UserSex = #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        CardType = #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="userIdCard != null">
        UserIdCard = #{userIdCard,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null">
        UserRole = #{userRole,jdbcType=VARCHAR},
      </if>
      <if test="upUserCode != null">
        UpUserCode = #{upUserCode,jdbcType=VARCHAR},
      </if>
      <if test="branchCode != null">
        BranchCode = #{branchCode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        Telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        Address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        ModifyTime = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xyoung.hospital.dao.module.vo.UserInfoVo">
    update user_info
    set UserCode = #{userCode,jdbcType=VARCHAR},
      UserName = #{userName,jdbcType=VARCHAR},
      UserNickName = #{userNickName,jdbcType=VARCHAR},
      UserSex = #{userSex,jdbcType=VARCHAR},
      CardType = #{cardType,jdbcType=VARCHAR},
      UserIdCard = #{userIdCard,jdbcType=VARCHAR},
      UserRole = #{userRole,jdbcType=VARCHAR},
      UpUserCode = #{upUserCode,jdbcType=VARCHAR},
      BranchCode = #{branchCode,jdbcType=VARCHAR},
      Telephone = #{telephone,jdbcType=VARCHAR},
      Address = #{address,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      ModifyTime = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
